/* leaflet */
.leaflet-bar a {
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid white;
    filter: drop-shadow(2px 4px 6px black);
}

.leaflet-bar a.leaflet-disabled {
    color:white;
    background-color:black;
}

.leaflet-bar a:hover, .leaflet-bar a:focus {
    color: white;
    background-color: black;
}

:root {
  --fullscreen-icon-enter: url('data:image/svg+xml,<svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M5 10.3V5.9c0-.5.4-.9.9-.9h4.4c.2 0 .4.2.4.4V7c0 .2-.2.4-.4.4h-3v3c0 .2-.2.4-.4.4H5.4a.4.4 0 0 1-.4-.4zm10.3-4.9V7c0 .2.2.4.4.4h3v3c0 .2.2.4.4.4h1.5c.2 0 .4-.2.4-.4V5.9c0-.5-.4-.9-.9-.9h-4.4c-.2 0-.4.2-.4.4zm5.3 9.9H19c-.2 0-.4.2-.4.4v3h-3c-.2 0-.4.2-.4.4v1.5c0 .2.2.4.4.4h4.4c.5 0 .9-.4.9-.9v-4.4c0-.2-.2-.4-.4-.4zm-9.9 5.3V19c0-.2-.2-.4-.4-.4h-3v-3c0-.2-.2-.4-.4-.4H5.4c-.2 0-.4.2-.4.4v4.4c0 .5.4.9.9.9h4.4c.2 0 .4-.2.4-.4z" fill="white"/></svg>');
  --fullscreen-icon-exit: url('data:image/svg+xml,<svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M20.6 10.7H16a.9.9 0 0 1-.8-.8v-4.5c0-.2.2-.4.4-.4h1.4c.3 0 .5.2.5.4v3h3c.2 0 .4.2.4.5v1.4c0 .2-.2.4-.4.4zm-9.9-.8V5.4c0-.2-.2-.4-.4-.4H8.9c-.3 0-.5.2-.5.4v3h-3c-.2 0-.4.2-.4.5v1.4c0 .2.2.4.4.4H9.9c.4 0 .8-.4.8-.8zm0 10.7V16c0-.4-.4-.8-.8-.8H5.4c-.2 0-.4.2-.4.4v1.4c0 .3.2.5.4.5h3v3c0 .2.2.4.5.4h1.4c.2 0 .4-.2.4-.4zm6.9 0v-3h3c.2 0 .4-.2.4-.5v-1.4c0-.2-.2-.4-.4-.4H16c-.4 0-.8.4-.8.8v4.5c0 .2.2.4.4.4h1.5c.3 0 .5-.2.5-.4z" fill="white"/></svg>')
}

/* custom */
.leaflet-map-pane {
    /* filter: invert() grayscale() brightness(2); */
    filter: brightness(1)
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  z-index: 1000;
  pointer-events: none;
}

#map-information-panel {
    /*  */
    border: 5px solid darkred;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 400;
    height: -webkit-fill-available;
    right: 0;
    bottom: 0;
    width: 300px;
}

#map-information-panel aside {
    height: 50px;
    align-content: center;
    background-color: darkred;
    /* font */
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    color: white;
}

/* custom info pane */
.info {
    color: white;
    background-color: black;
    filter: drop-shadow(2px 4px 6px black);
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    width: inherit;
}

.leaflet-top.leaflet-right {
    display: flex;
    bottom: 100px;
    width: 250px;
}

.info.leaflet-control h2 {
    border-top-color: white;
    border-top-style: solid;
    border-bottom-color: white;
    border-bottom-style: solid;
    height: 33px;
    align-content: center;
}


/* map sidebar */

.map-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 294px;
    height: 100%;
    background-color: black;
    z-index: 400;
    border: 2px solid white;
    filter: drop-shadow(2px 4px 6px black);
}

.map-sidebar.wod-logo {
    position: relative;
    filter: none;
    height: 50px;
    width: 100%;
    align-content: center;
    border: none;
    border-bottom: 2px solid white;
    /* font */
    font-size: x-large;
    text-align: center;
    color: white;
}